.about {
    width: 100%;
    min-height: 400px;
}

.aboutTitle {
    font-size: 45px;
    color: #1B3764;
    font-weight: 700;
    text-align: center;
}

.aboutLine {
    width: 55px;
    border-bottom: 3px solid #FFCA42;
    margin: 0 auto;
}

.aboutDesc {
    width: 90%;
    margin: 20px auto;
    min-height: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aboutDescContent {
    width: 22%;
    text-align: center;
}

.aboutDescContentFon {
    width: 100px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.aboutDescContentFonImg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.aboutDescContentTitle {
    font-size: 24px;
    font-weight: 700;
    color: #1B3764;
}

.aboutDescContentSubTitle {
    font-size: 18px;
    font-weight: 400;
    color: #969AA0;
}

@media (max-width: 1200px) {
    .aboutDesc {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
    }

    .aboutDescContent {
        width: 26%;
    }
}

@media (max-width: 1000px) {
    .aboutDesc {
        left: 65%;
        transform: translateX(-50%);
    }

    .aboutDescContent {
        width: 45%;
    }

    .aboutTitle {
        position: relative;
        left: 70%;
        transform: translateX(-50%);
    }

    .aboutLine {
        position: relative;
        left: 25%;
        transform: translateX(-50%);
    }
}

@media (max-width: 800px) {
    .aboutDesc {
        left: 75%;
        transform: translateX(-50%);
    }

    .aboutDescContent {
        width: 65%;
    }

    .aboutTitle {
        left: 80%;
        transform: translateX(-50%);
    }

    .aboutLine {
        left: 35%;
        transform: translateX(-50%);
    }
}

@media (max-width: 650px) {
    .aboutDesc {
        left: 85%;
        transform: translateX(-50%);
    }

    .aboutDescContent {
        width: 75%;
    }

    .aboutLine {
        left: 45%;
        transform: translateX(-50%);
    }
}

@media (max-width: 550px) {
    .aboutDesc {
        left: 95%;
        transform: translateX(-50%);
    }

    .aboutDescContent {
        width: 85%;
    }

    .aboutTitle {
        left: 100%;
        transform: translateX(-50%);
    }

    .aboutLine {
        left: 55%;
        transform: translateX(-50%);
    }
}