.about {
    width: 100%;
    min-height: 400px;
}

.aboutTitle {
    font-size: 45px;
    color: #1B3764;
    font-weight: 700;
    text-align: center;
}

.aboutLine {
    width: 55px;
    border-bottom: 3px solid #FFCA42;
    margin: 0 auto;
}

.aboutDesc {
    width: 1300px;
    margin: 20px auto;
    min-height: 220px;
    display: flex;
    justify-content: space-between;
}

.aboutDescContent {
    width: 22%;
    text-align: center;
}

.aboutDescContentFon {
    width: 100px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.aboutDescContentFonImg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.aboutDescContentTitle {
    font-size: 24px;
    font-weight: 700;
    color: #1B3764;
}

.aboutDescContentSubTitle {
    font-size: 18px;
    font-weight: 400;
    color: #969AA0;
}