.atomic {
    width: 100%;
    min-height: 650px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: #F5F8FC;
}

.atomicDesc {
    background-color: transparent;
}

.title {
    font-size: 45px;
    color: white;
    line-height: 54px;
    text-align: center;
    font-weight: 700;
}

.line {
    border: 3px solid #FFCA42;
    width: 55px;
    margin: 0 auto;
}

.atomicContent {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}