.page {
  width: 100%;
  background: #f5f5f5;
  .author {
    width: 100%;
    padding-top: 145px;
    z-index: 6;
  }
  .about {
    width: 100%;
    z-index: 4;
    margin-top: -70px;
  }
  .trusted {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .callOut{
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
