.FeaturesItem {
    width: 365px;
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 19px;
}

.FeaturesItem img {
    width: 36px;
    height: 36px;
}

.FeaturesItem h3 {
    font-family: 'Cardo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #1B3764;
}

.FeaturesItem p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #1B3764;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: #1B3764;
    display: flex;
    justify-content: center;
    align-items: center;
}